.status {
    overflow: hidden;
    display: inline-grid;
    grid-template-columns: auto auto;
}
.status__element {
    background-color: bisque;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}